* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100vw;
  height: 100vh;
  color: #1c1c1c;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glass-text-container {
  position: relative;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  bottom: -11%;
  .text {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 4rem;
    transform: translate(-50%, -50%);
    color: rgba(white, 0.2);
  }
  .glass-background {
    background: rgba(black, 0.1);
    backdrop-filter: blur(1px);
    position: relative;
    width: 90%;
    height: 55vh;
    z-index: 99;
  }
}

@mixin large-circle {
  width: 45px;
  height: 45px;
  top: 84px;
  background: lightgrey;
  position: absolute;
  border-radius: 50%;
}

@mixin medium-circle {
  width: 25px;
  height: 25px;
  top: 96px;
  background: lightgrey;
  position: absolute;
  border-radius: 50%;
}

@mixin blob() {
  background: lightgrey;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 80px;
  border-radius: 35%;
  transform-origin: center;
}

@mixin blob-after() {
  &::after {
    content: '';
    background: lightgrey;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 35%;
    animation: blob-rotate-1 19s linear infinite forwards;
  }
}

.blob-container {
  position: relative;
  width: 100vw;
  height: 100px;
  overflow: hidden;
  background: transparent;
  .blob-circle-container {
    position: absolute;
    width: inherit;
    top: 0px;
    div:nth-child(1) {
      @include large-circle;
      left: 140px;
      animation: animate-blob-1 7s ease 2s infinite;
    }
    div:nth-child(2) {
      @include large-circle;
      left: 650px;
      animation: animate-blob-1 4s ease 3s infinite;
    }
    div:nth-child(3) {
      @include large-circle;
      left: 1050px;
      animation: animate-blob-1 3.5s ease 2s infinite;
    }
    div:nth-child(4) {
      @include medium-circle;
      left: 10px;
      animation: animate-blob-1 8.5s ease 3s infinite;
    }
    div:nth-child(5) {
      @include medium-circle;
      left: 300px;
      animation: animate-blob-1 3.5s ease 2s infinite;
    }
    div:nth-child(6) {
      @include medium-circle;
      left: 500px;
      animation: animate-blob-1 10.6s ease 3s infinite;
    }
    div:nth-child(7) {
      @include medium-circle;
      left: 800px;
      animation: animate-blob-1 7.2s ease 2s infinite;
    }
    div:nth-child(8) {
      @include medium-circle;
      left: 1200px;
      animation: animate-blob-1 4s ease 3s infinite;
    }
    div:nth-child(9) {
      @include medium-circle;
      left: 10px;
      animation: animate-blob-1 2.5s ease 2s infinite;
    }
    @for $i from 10 through 19 {
      div:nth-child(#{$i}) {
        width: 25px;
        height: 25px;
        top: $i*20px;
        left: $i * 125 - 1200px;
        background: lightgrey;
        position: absolute;
        border-radius: 50%;
        animation: animate-blob-2 $i/10 * 5s ease 4.5s infinite;
      }
    }
  }
  .blob-group-1 {
    position: absolute;
    filter: drop-shadow(0 0 10px darkgrey);
    top: 15px;
    animation: blob-group-translate 12s linear infinite alternate-reverse;
    div:nth-child(1) {
      @include blob;
      left: 600px;
      animation: blob-rotate-1 12s linear infinite forwards;
      @include blob-after;
    }
  }
  .blob-group-2 {
    position: absolute;
    filter: drop-shadow(0 0 10px darkgrey);
    top: 20px;
    animation: blob-group-translate 5s linear infinite alternate;
    div:nth-child(1) {
      @include blob;
      left: 200px;
      animation: blob-rotate-1 5s linear infinite forwards;
      @include blob-after;
    }
  }
  .blob-group-3 {
    position: absolute;
    filter: drop-shadow(0 0 10px darkgrey);
    top: 30px;
    animation: blob-group-translate 8s linear infinite alternate-reverse;
    div:nth-child(1) {
      @include blob;
      left: 1000px;
      animation: blob-rotate-1 8s linear infinite forwards;
      @include blob-after;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate-blob-1 {
  0% {
    transform: translateY(40px) scale(1.5) translateX(50px);
  }
  100% {
    transform: translateY(-100px) scale(0) translateX(-50px);
  }
}
@keyframes animate-blob-2 {
  0% {
    transform: translateY(50px) scale(14) translateX(90px);
  }
  100% {
    transform: translateY(-100px) scale(0) translateX(-90px);
  }
}
@keyframes blob-rotate-1 {
  0% {
    transform: rotateZ(0deg) translateX(5px);
  }
  100% {
    transform: rotateZ(360deg) translateX(-5px);
  }
}
@keyframes blob-group-translate {
  0% {
    transform: translateX(140px);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(5px);
  }
  100% {
    transform: translateX(-140px);
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: lightgrey;
  position: relative;
  a {
    text-decoration: none;
    color: #1c1c1c;
    &:hover {
      color: coral;
    }
  }
}

.footer-menu-1 {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
}

.col {
  div {
    padding: 3px;
  }
}

.copyright {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}
